# Explore files

In [1]:
import os
import pandas as pd

# Specify the directory containing the CSV files
directory = 'data'

# Loop through all files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        file_path = os.path.join(directory, filename)
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        # Print the DataFrame
        print(f'Contents of {filename}:')
        print(df)
        print('\n')

Contents of checkin_checkout_history_updated.csv:
          user_id  gym_id         checkin_time        checkout_time  \
0       user_3291   gym_6  2023-09-10 15:55:00  2023-09-10 16:34:00
1       user_1944   gym_2  2023-04-13 20:07:00  2023-04-13 22:43:00
2        user_958   gym_7  2023-06-10 12:24:00  2023-06-10 13:49:00
3        user_811   gym_2  2023-05-23 17:11:00  2023-05-23 20:01:00
4       user_4923  gym_10  2023-02-21 06:20:00  2023-02-21 08:02:00
...           ...     ...                  ...                  ...
299995  user_3995   gym_3  2023-08-06 17:25:00  2023-08-06 18:09:00
299996   user_206   gym_9  2023-06-27 13:14:00  2023-06-27 16:04:00
299997  user_4983   gym_4  2023-04-08 14:41:00  2023-04-08 15:54:00
299998  user_1028  gym_10  2023-03-05 06:07:00  2023-03-05 07:04:00
299999  user_3314   gym_4  2023-01-05 08:58:00  2023-01-05 09:48:00

         workout_type  calories_burned
0       Weightlifting              462
1                Yoga             1278
2              Cardio              858
3                Yoga             1134
4       Weightlifting             1049
...               ...              ...
299995        Pilates              288
299996  Weightlifting             1935
299997         Cardio             1312
299998         Cardio              787
299999           Yoga              512

[300000 rows x 6 columns]


Contents of gym_locations_data.csv:
   gym_id      location  gym_type  \
0   gym_1      New York   Premium
1   gym_2   Los Angeles    Budget
2   gym_3       Chicago    Budget
3   gym_4       Houston   Premium
4   gym_5       Phoenix  Standard
5   gym_6  Philadelphia    Budget
6   gym_7   San Antonio   Premium
7   gym_8     San Diego  Standard
8   gym_9        Dallas   Premium
9  gym_10      San Jose   Premium

                                       facilities
0  Climbing Wall, Swimming Pool, Basketball Court
1              Climbing Wall, Yoga Classes, Sauna
2             Sauna, Climbing Wall, Swimming Pool
3  Climbing Wall, Basketball Court, Swimming Pool
4       Basketball Court, CrossFit, Swimming Pool
5             Swimming Pool, Climbing Wall, Sauna
6          Sauna, Basketball Court, Swimming Pool
7               Basketball Court, Sauna, CrossFit
8                   Sauna, CrossFit, Yoga Classes
9                  Swimming Pool, Sauna, CrossFit


Contents of subscription_plans.csv:
  subscription_plan  price_per_month  \
0             Basic            19.99
1               Pro            49.99
2           Student             9.99

                                            features
0  Access to basic gym facilities, Limited class ...
1  Access to all facilities, Unlimited class acce...
2  Access to basic facilities, Limited class acce...


Contents of users_data.csv:
        user_id first_name last_name  age      gender   birthdate  \
0        user_1      Chris    Wilson   56      Female  2000-02-29
1        user_2    Michael    Miller   46  Non-binary  1978-12-22
2        user_3     Daniel     Smith   32      Female  1962-08-30
3        user_4      David     Smith   60        Male  2003-12-05
4        user_5      Chris     Jones   25      Female  2004-08-25
...         ...        ...       ...  ...         ...         ...
4995  user_4996      Sarah  Williams   33        Male  1958-01-13
4996  user_4997      Linda     Brown   22        Male  1974-02-20
4997  user_4998      Emily    Miller   38  Non-binary  1978-03-29
4998  user_4999     Robert    Garcia   27        Male  2002-02-01
4999  user_5000      Chris     Smith   36        Male  1959-11-21

     sign_up_date user_location subscription_plan
0      2023-02-06        Denver             Basic
1      2023-08-08       Orlando               Pro
2      2021-01-11       Orlando             Basic
3      2023-08-07        Denver               Pro
4      2021-01-08        Denver             Basic
...           ...           ...               ...
4995   2021-08-08     Las Vegas             Basic
4996   2023-01-22        Austin           Student
4997   2021-04-16       Atlanta               Pro
4998   2022-07-02        Denver               Pro
4999   2022-02-20       Seattle           Student

[5000 rows x 9 columns]

# Data Modeling

### Normalized (OLTP) schema
Designed to reduce redundancy and ensure data integrity by organizing the data into multiple related tables.

1. **Users**
   - **user_id_pk** (PK)
   - **fk_subscription_plan_id** (FK)
   - **first_name**
   - **last_name**
   - **age**
   - **gender**
   - **birthdate**
   - **sign_up_date**
   - **user_location**

2. **Gyms**
   - **gym_id_pk** (PK)
   - **location**
   - **gym_type**
   - **facilities**

3. **Subscription Plans**
   - **subscription_plan_id_pk** (PK)
   - **plan_name**
   - **price_per_month**
   - **features**

4. **Check-ins**
   - **checkin_id_pk** (PK)
   - **fk_user_id** (FK)
   - **fk_gym_id** (FK)
   - **checkin_time**
   - **checkout_time**
   - **workout_type**
   - **calories_burned**

#### Relationships
- **Users** to **Subscription Plans**:  One-to-Many
- **Check-ins** to **Users**:  Many-to-One
- **Check-ins** to **Gyms**:  Many-to-One

#### Schema Definition

```sql
CREATE TABLE users (
    user_id_pk INT PRIMARY KEY,
    fk_subscription_plan_id INT,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT,
    gender VARCHAR(10),
    birthdate DATE,
    sign_up_date DATE,
    user_location VARCHAR(100),
    FOREIGN KEY (fk_subscription_plan_id) REFERENCES subscription_plans(subscription_plan_id)
);

CREATE TABLE gyms (
    gym_id_pk INT PRIMARY KEY,
    location VARCHAR(100),
    gym_type VARCHAR(50),
    facilities TEXT
);

CREATE TABLE subscription_plans (
    subscription_plan_id_pk INT PRIMARY KEY,
    plan_name VARCHAR(50),
    price_per_month DECIMAL(10, 2),
    features TEXT
);

CREATE TABLE checkins (
    checkin_id_pk INT PRIMARY KEY,
    fk_user_id INT,
    fk_gym_id INT,
    checkin_time DATETIME,
    checkout_time DATETIME,
    workout_type VARCHAR(50),
    calories_burned INT,
    FOREIGN KEY (fk_user_id) REFERENCES users(user_id),
    FOREIGN KEY (fk_gym_id) REFERENCES gyms(gym_id)
);
```

### Star schema
Simplifies complex queries with a central fact table connected to dimension tables.

#### Schema definition

**Fact Table: Check-in/Checkout History**
- **fk_user_id** (FK)
- **fk_gym_id** (FK)
- **checkin_time**
- **checkout_time**
- **workout_type**
- **calories_burned**

**Dimension Tables:**

1. **Users**
   - **user_id_pk** (PK)
   - **first_name**
   - **last_name**
   - **age**
   - **gender**
   - **birthdate**
   - **sign_up_date**
   - **user_location**
   - **subscription_plan**

2. **Gyms**
   - **gym_id_pk** (PK)
   - **location**
   - **gym_type**
   - **facilities**

3. **Subscription Plans**
   - **subscription_plan_pk** (PK)
   - **price_per_month**
   - **features**

### Snowflake schema
Normalized form of the star schema, reducing redundancy.